body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0 auto;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://quickdraw.withgoogle.com/data/static/images/share-embed.jpg");
  background-size: cover;
}

.title > a {
  text-align: center;
  font-size: 2em;
  font-family: 'Cabin Sketch', cursive;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

footer {
  text-align: center;
  background-color: white;
  padding: 1.5em;
}

.drawArea {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 450px;
  height: 450px;
  border: 1px solid rgb(130, 130, 130);
  box-shadow: 3px 3px 5px 6px rgb(176, 176, 176);
  background-color: white;
}

.path {
  fill: none;
  stroke-width: 5px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}

.login-form, .register-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 5px 0 30px 0;
  margin: 0 auto;
  border-radius: 5px;
  width: 25em;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgb(160, 160, 160, 0.5); 
  box-shadow: 1px 1px 2px 0.5px #cbcbcb8a;
}

.register-login-buttons, .personal-doodle-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.register-login-buttons button, .personal-doodle-buttons-wrapper button {
  margin: 1em;
}

input[type=text], input[type=password]{
  width: 180px;
  padding: 5px;
  background-color: rgba(244, 242, 242, 0.235);
  margin: 10px;
  border: 1px solid rgb(160, 160, 160, 0.5); 
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0);
  font-size: 1em;
  font-weight: 500;
}

label {
  font-size: 1em;
  font-weight: 500;
}

button {
  width: 200px;
  padding: 5px;
  background-color: rgb(255, 217, 65); 
  border: none;
  border-radius: 10px;
  color: rgb(53, 53, 53);
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none; 
  margin: 5px 0 20px 0;
}

nav ul, nav a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  list-style-type: none;
}

nav > a {
  text-decoration: none;
}

nav > ul > a {
  text-decoration: none;
  font-size: large;
}

header {
  background-color: rgba(255, 255, 255, 0.755);
  padding-top: 1em;
  margin: 0 auto;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  text-align: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.755);
  font-size: small;
  font-family: fantasy;
}

.doodles-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.doodle-info {
  background-color: rgb(255, 255, 195);
  border: 5px solid white;
  border-radius: 20px;
  margin: 10px auto;
  text-align: center;
}
